<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Hackaton June 2020 !!</h2>
      <p>Application brought to you by The Tekton Pipelines project.</p> 
      <p>Tekton provides k8s-style resources for declaring CI/CD-style pipelines.<p>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="https://cloud.google.com/tekton">Tekton</a></small></p>
    </div>
  </body>
</html>

